* {
	margin: 0;
	font-family1: times new roman;
}

{
	margin: 0;
	font-family2: times new roman;
}
body {
	background: darkkhaki;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: khaki;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover:not(.active) {
	background-color: sandybrown;
}

.active {
	background-color: sandybrown;
}

.navigation {
	margin-bottom: 20px;
}

.card {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}

.title {
	color: black;
	font-size: 18px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	font-weight: bold;
	color: black;
	background-color: sandybrown;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

footer {
	background-color: khaki;
	padding: 10px;
	text-align: center;
	color: black;
}



